h1
{
  font-size:3em;
  padding:20px;
  text-align:center;
}

.clickable-article
{
    cursor:pointer;
    transition-delay: 0.2s;
    transition-duration: 0.6s;
}
.clickable-article:hover
{
    cursor:pointer;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
}

.link-item
{
  color: #ffffff;
  border-radius: 16px;
  transition-delay:0.01s;
  transition-duration:0.2s;
  cursor:pointer;
  text-decoration: none;
}
.link-item:hover
{
  color: #404040a0;
  text-decoration: none;
}
