h1
{
  font-size:3em;
  padding:20px;
  text-align:center;
}


.nav-item
{
  font-size:1.25em;
  transition-delay:0.1s;
  transition-duration:0.5s;
}
.navbar-item:hover
{
  color: white;
  background-color: transparent;
}
.info-item
{
  padding-left:20%;
  display:table;
  min-height:400px;
  transition-delay:0.3s;
  transition-duration:0.7s;
  background-color:#ffffff;
}
.info-item:hover
{
  background-color:#d0d0d040;
}
.info-item-center
{
  display:inline-block;
  vertical-align:middle;
}
.content-bg
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./articlesbg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.content-item
{
  border-radius:24px;
  background-color: #c0c0c0c0;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  min-height:100px;
  margin: 20px;
}
.content-item-text
{
  font-size:1.4em;
  padding:10px 25px 10px 25px;
  color:black;
}
.content-link
{
  color: #ffffffa0;
  border: black;
  border-radius: 24px;
  background-color: #00000040;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1));
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  transition-delay: 0.2s;
  transition-duration: 0.6s;
  cursor: pointer;
  min-height: 200px;
  margin:20px;
}
.content-link:hover
{
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.6), 0 17px 50px 0 rgba(0,0,0,0.35);
  color: #a0a0a0a0;
}
.content-link-text
{
  margin-top: 1em;
}
.link-item
{
  color: #ffffff;
  border-radius: 16px;
  transition-delay:0.01s;
  transition-duration:0.2s;
  cursor:pointer;
  text-decoration: none;
}
.link-item:hover
{
  color: #404040a0;
  text-decoration: none;
}
.dropdown-menu
{
  margin-top:-2px;
  background-color: #202020a0;
}
.dropdown-item
{
  color:#c0c0c0;
}
.dropdown-divider
{
  background-color:#000000a0;
}
.bg-text
{
  font-size:3em;
  text-align:center;
  vertical-align:middle;
  color:#c0c0c0;
  z-index=-1;
}

#footer
{
  min-height:400px;
  height: 400px;
  background-color: #101010c0;"
}
#footer-logo
{
  min-width:50px;
  min-height:50px;
  width:100px;
  height:100px;
  border-radius:100px;
  margin-top:7.5em;
}
