h1
{
  font-size:3em;
  padding:20px;
  text-align:center;
}

ul.nav
{
    margin-bottom:0!important;
}

.clickable-article
{
    cursor:pointer;
    transition-delay: 0.05s;
    transition-duration: 0.4s;
}
.clickable-article:hover
{
    cursor:pointer;
    opacity: 0.7;
}

.link-item
{
  color: #ffffff;
  border-radius: 16px;
  transition-delay:0.01s;
  transition-duration:0.2s;
  cursor:pointer;
  text-decoration: none;
}
.link-item:hover
{
  color: #404040a0;
  text-decoration: none;
}

.nav-link
{
    font-size: 0.9em;
}

.parallax
{
  /* The image used */
  background-image: linear-gradient(rgba(64, 64, 64, 0.8), rgba(64, 64, 64, 0.8)), url(../res/imgs/laptop-bg.jpg);

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-box
{
    margin-top:5%;
    background-color: #c0c0c0ff;
    border-radius: 1%;
}
